<h1>Task info</h1>

<p><strong>Title:</strong> <%= @task.title %></p>
<p><strong>Details:</strong> <%= @task.details %></p>
<p><strong>Completed:</strong>
 <% if @task.completed %>
    <i class = 'fa-solid fa-square-check'></i>
  <%else%>
    <i class = 'fa-regular fa-square'></i>
  <% end %>
  </p>


<%= link_to 'edit', edit_task_path(@task) %>
<%= link_to 'delete', task_path(@task), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>

<p><%= link_to 'See all tasks', tasks_path %></p>
